.backgroundcolor {
    background-color: #e74c3c;
    font-size: larger;
}

.textkleur {
    color: #bdc3c7 ;
    font-size: larger;
    font-style: italic;
}

.beschrijving {
    color: #e74c3c;
}

.textachtergrond {
    color: #001f3f;
}

.footerachtergrond {
background-color: #001f3f;
}

.contact  {
    color: #bdc3c7;
    background-color: #e74c3c;
    font-size: x-large;
}

.hoofdlogo {
    margin: auto;
}

.buttonsd {
    background-color: #e74c3c;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.search-container {
    text-align: center;
    padding: 20px 0;
}

.d-flex {
    justify-content: center;
  }